body {
  font-family: 'Cinzel', serif;
  background-color: #1C1C1C;
  color: #F5F5F5;
  margin: 0;
  padding: 20px;
}

h1, h2, h3, h4, p, label {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  color: #DAA520; /* Golden color */
  border-bottom: 2px solid #8B0000; /* Dark red */
  padding-bottom: 10px;
}

h2, h3 {
  color: #8B0000; /* Dark red */
}

h3 {
  margin-top: 0px;
}

p {
  margin-top: 0px;
}

button, .drop-down {
  background-color: #8B0000;
  color: #F5F5F5;
  border: none;
  padding: 10px 15px;
  font-family: 'Cinzel', serif;
  cursor: pointer;
  border-radius: 5px;
}

button:hover, .drop-down:hover {
  background-color: #FF4500;
}

input[type="text"], input[type="date"], input[type="password"], textarea, .drop-down {
  background-color: #2E2E2E;
  color: #F5F5F5;
  border: 1px solid #DAA520;
  padding: 10px;
  font-family: 'Cormorant Garamond', serif;
  border-radius: 5px;
}

.title-page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-page {
  background-image: url(../assets/icons/throne-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.title-buttons {
  display: flex;
  gap: 10px;
}

.register-page-container, .login-page-container {
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

.register-page, .login-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

#register-page-title, #login-page-title {
  border: none;
  align-self: flex-start;
}

.email-container, .password-container {
  display: flex;
  flex-direction: column;
}

.books-header {
  position: relative;
}

.home-page-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.books-header button {
  position: absolute;
  bottom: 35%;
  left: 95%;
}

.book-entry, .register-page, .login-page {
  background-color: #2E2E2E;
  border: 1px solid #8B0000;
  padding: 15px;
  border-radius: 10px;
}

.book-entry {
  width: 100%;
}

.book-entry-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.book-cover-image {
  float: left;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 0px 15px 15px 0px;
}

.book-title {
  color: #DAA520;
}

.book-author {
  color: #F5F5F5;
}

.book-description {
  color: #B0B0B0;
}

.book-notes-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.notes-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clear-img {
  clear: left;
}

.finished-attributes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2E2E2E;
  border: 1px solid #8B0000;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 0px;
}

.edit-container {
  display: flex;
  margin-bottom: 40px;
}

.empty-div {
  width: 80%;
}

.icon {
  background-color: #1C1C1C;
  border-radius: 50%;
  border: none;
  align-self: start;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}